.page-header
  %h1 
    = @game.name
    = link_to( icon_for("Zufalls-Städte laden", 'icon-refresh'), '?random=true', :class => 'btn pull-right')

%p= @game.description
.alert.alert-info
  <strong>Tipp</strong> ziehe die Städte an die Position auf der Karte wo du sie vermutest.

%div.row.show-grid
  .span6
    .geo_map{ "data-map" => @map.get_geocloud_json }
  .span6.geo_cloud
    - @cities.each do |city|
      .raw_point{ :title => city.name }
        %span.city_name= city.name
    
    -# Output    
    %ol{ :id => "output" }

%hr
-# Action-Links
= link_to( icon_for("Abgeben", 'icon-check ', 'white'), '#', :id => 'btn_submit', :class => 'btn btn-success disabled')

%p{ :class => "pull-right" }
  = link_to "Zurück zur Übersicht", {:controller => 'games', :cat => 'empty_map'}
