!!! 5
%html
  %head
    %title MapGame
    = stylesheet_link_tag "application", "bootstrap", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    -# Navigation
    .navbar
      .navbar-inner
        .container
          %a.brand{ :href => "" } Map Games
          .nav-collapse
            %ul.nav
              %li= link_to "Alle Spiele", games_path

    -# Content-Container
    .container
      = yield