<!DOCTYPE html>
<html>
<head>
  <title>MapGame</title>
  <%= stylesheet_link_tag    "application", "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">Map Games</a>
      <div class="nav-collapse">
        <ul class="nav">          
          <li><%= link_to "Alle Spiele", games_path %></li>         
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>  
  
<div class="container">  
  <%= yield %>
</div>

</body>
</html>
